@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300');


// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
* {
	outline: none;
}
body{

}


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}


									// HEADER

.ba-header {
	background: url(../img/bg/bg-header.jpg) 50% no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;


	&__logo{
				// font-weight: 700;
		// text-decoration: none;
		// color: #FFF;
		// text-transform: uppercase;
		// font-size: 20px;

	}

	&__menu{
		font-size: 16px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		padding-right: 40px;


		li {
			display: inline-block;
		}
		li:not(:first-child){
			padding-left: 46px;
		}

		a {
			color: #fff;
			text-decoration: none;
			padding: 8px 20px;
			border: 1px solid transparent;
			border-radius: 20px;
			&:hover{
				border: 1px solid  #fff;
				border-radius: 20px;
			}
		}
	}


	&__title{
		margin: 150px auto;
		text-align: center;
		display: block;
		max-width: 630px;

&-main{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
		font-size: 35px;
		text-transform: uppercase;
		color: #FFF;
		display: flex;
		justify-content: center;
		line-height: 70px;
		letter-spacing: 0.2em;
		p{
			margin: 0;
		}
	}
		&-small{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 28px;
		margin: 20px 0;
		color: #FFF;
		display: flex;
		justify-content: center;

		p{
			margin: 0;
		}
	}
}
&__scroll{

	padding: 12px 18px 15px;
	position: absolute;
	bottom: 52px;
    left: 50%;
    margin-left: -24px;
    border-radius: 50%;

    &:hover{
	background-color: #19bd9a;
	border-radius: 50%;
    }
	}
}

									// PORTFOLIO
.ba-portfolio{
background-color: #f3f3f3;

&__title{
	padding-top: 90px;
		margin: 0 auto 40px;
		text-align: center;
		display: block;
		max-width: 460px;

&-main{
		font-size: 20px;
		text-transform: uppercase;
		color: #333b46;
		display: flex;
		justify-content: center;
		letter-spacing: 0.2em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		p{
			margin: 0;
		}
	}
		&-small{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		line-height: 25px;
		margin: 40px 0;
		color: #81868e;
		display: flex;
		justify-content: center;
		letter-spacing: 0.05em;

		p{
			margin: 0;
		}
	}
}
}

// 				PORTFOLIO-FILTER


.ba-portfolio__nav {
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;


	 a {
		display: inline-block;
		border-radius: 2px;
		color: #3c4955;
		padding: 15px 20px;
		line-height: 30px;
		text-decoration: none;
		// margin-left: 10px;
		position: relative;

		}
		a:first-child {
		margin-left: 0;
		}
		a:hover:before {
			content: "";
			display: block;
			height: 2px;
			width: 38px;
			background-color: #19BD9A;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
}
}


.ba-portfolio__nav .ba-portfolio__active{
	&:before{
		content: "";
			display: block;
			height: 2px;
			width: 38px;
			background-color: #19BD9A;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
	}

}

.ba-porfolio__item {
	display: block;
	overflow: hidden;
	position: relative;

	img {
	width: 100%;
}
}

.ba-grid-sizer {
	width: 25%;
}

.ba-grid-item {
	padding: 0 0 20px;
}

									// THE TEAM + SLICK

				// TEAM
.ba-team{
	padding-bottom: 100px;
	text-align: right;
	position: relative;
	&__name{
	padding-right: 50px;
	border-right: 5px solid #19BD9A;
	margin-bottom: 20px;


		&-title{
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #464646;
		font-weight: 400;
		margin: 0;
		line-height: 0;
		display: inline-block;
		}

		&-subtitle{
		margin: 5px 0;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		color: #81868e;
		font-style: italic;
}
}

&__info{
	font-family: 'Open Sans', sans-serif;
	margin-right: 50px;
	font-size: 14px;
	color: #81868e;
	letter-spacing: 0.05em;
	line-height: 25px;

}

			// SLICK

}
.ba-slider{
	padding-bottom: 40px;
	&__team{
		margin: 0 70px;
	}
}
.slick-dots li.slick-active button:before {
	color: #7beec7;
	opacity: 1;
	content: "";
	border: 1px solid #7beec7;
	border-radius: 50%;

}



.slick-dots li button:before {
	color: #7beec7;
	opacity: 1;
	// content: "";
	// border: 1px solid #7beec7;
	// border-radius: 50%;
}


										// TEAM CTA
.ba-team-cta{
	background: url(../img/bg/bg-team-cta.jpg) 50% no-repeat;
	background-size: cover;
	height: 200px;
	text-align: center;

	&-info{

	&__title{
		color: #FFF;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		padding-top: 25px;
		p{
			margin-bottom: 50px;
			}
		}
		&__link{

		text-align: center;
		color: #fff;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		padding: 10px 35px;
		font-size: 14px;
		border: 1px solid #fff;
		border-radius: 20px;
		&:hover{
			color: #000;
			background-color: #7beec7;
			border: 1px solid #fff;
		}
		}
	}
}

						// TESTIMONIALS
.ba-testimonials{
	background-color: #f3f3f3;

.ba-testimonials-slider{
	background-color: #FFF;

	&__photo{
		height: 130px;
		width: 130px;
		display: block;
		float: left;
		margin: 0 auto;
	}
	&__about{
		text-align: left;
		max-width: 800px;
		float: right;
		margin-right: 100px;


	}
}
}




/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
